.site-header {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .navbar {
  -webkit-box-shadow: 0px 3px 6px 0 #f0f3f0;
          box-shadow: 0px 3px 6px 0 #f0f3f0;
  padding: 15px 0;
  background-color: #fff;
  font-weight: 600;
}

.site-header .navbar .container {
  position: relative;
  padding: 0 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.site-header .navbar .container .navbar-brand {
  font-size: 34px;
  color: #189A46;
  margin-right: 20px;
}

.site-header .navbar .container .navbar-toggler {
  width: 0%;
  border: none;
}

.site-header .navbar .container .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site-header .navbar .container .navbar-toggler span {
  background-image: none;
  line-height: 34px;
  background-color: #189A46;
  border-radius: 5px;
  color: #fff;
}

.site-header .navbar .container .collapse .nav-item {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.2em;
  font-weight: 400;
  padding: 0 12px;
}

.site-header .navbar .container .collapse .nav-item .active {
  color: #189A46;
}

.site-header .navbar .container .collapse .nav-item .nav-link {
  padding: 0;
  /* color:$heading-color; */
  position: relative;
}

.site-header .navbar .container .collapse .nav-item .nav-link:hover {
  color: #189A46;
}

.site-header .navbar .container .collapse .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 0%;
  height: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #189A46;
}

.site-header .navbar .container .collapse .nav-item .nav-link:hover::after {
  width: 100%;
}

.site-header .navbar .container .mobile-position {
  margin-right: 60px;
  position: absolute;
  right: -28px;
  top: 21px;
}

.site-header .navbar .container .mobile-position i {
  border-color: rgba(0, 0, 0, 0.1);
  font-size: 1.4em;
}

@media screen and (max-width: 992px) {
  .site-header .navbar .container .mobile-position {
    right: 25px;
  }
  .site-header .navbar .container .collapse .nav-item a:hover::after {
    width: 0%;
  }
}

@media screen and (max-width: 576px) {
  .site-header .navbar .container {
    padding: 0 25px;
  }
  .site-header .navbar .container .mobile-position {
    top: 17px;
    right: 0px;
  }
  .site-header .navbar .container .navbar-brand {
    font-size: 30px;
    color: #189A46;
  }
}

.header-bar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 50px;
  margin-top: 60px;
}

.header-bar .header-top-right {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top: 70px;
  margin-bottom: 70px;
  background: #0D1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.header-bar .header-top-right a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: .6;
  margin-bottom: 25px;
  text-align: center;
}

.header-bar .header-top-right a:hover {
  opacity: 1;
}

.header-bar .header-top-right a i {
  display: block;
}

.header-icon {
  float: right;
  position: fixed;
  right: 0px;
  top: 168px;
  width: 90px;
  z-index: 099999;
  text-align: center;
}

.header-icon i {
  background: #0D1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  opacity: .5;
}

.banner {
  margin-top: 90px;
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: .6;
}

.banner .title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.banner .banner-content li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  list-style: none;
}

.banner .banner-content li a {
  color: #189A46;
  text-decoration: none;
}

.footer_poolcare .footer {
  background: #111;
  color: #696969;
}

.footer_poolcare .footer .row .footer-title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer_poolcare .footer .row .footer-list {
  font-size: 16px;
  line-height: 28px;
}

.footer_poolcare .footer .row .footer-list ul {
  list-style: none;
  padding: 0;
}

.footer_poolcare .footer .row .footer-list ul li {
  margin-bottom: 5px;
}

.footer_poolcare .footer .row .footer-list ul li a {
  text-decoration: none;
  color: #696969;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer_poolcare .footer .row .footer-list ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer_poolcare .footer .row .social-icons {
  padding: 0;
}

.footer_poolcare .footer .row .social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}

.footer_poolcare .footer .midd-footer {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.footer_poolcare .footer .midd-footer a {
  color: #f53626;
}

.back-to-top {
  z-index: 10000;
  width: 50px;
  height: 50px;
  background-color: #189A46;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 12px;
}

.back-to-top:hover {
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost",sans-serif;
  margin: 0;
  padding: 0;
}

.contacts .contacts-content .sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.contacts .contacts-content .hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.contacts .contacts-content .container .contact-view {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
}

.contacts .contacts-content .container .contact-view .map-content .twice-two {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.contacts .contacts-content .container .contact-view .map-content .twice {
  margin-bottom: 20px;
}

.contacts .contacts-content .container .contact-view .map-content .btn-style {
  float: right;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.contacts .contacts-content .container .contact-view .map-content .form-control {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #252b33;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0px 16px;
  border: 1px solid rgba(147, 107, 232, 0.05);
  background: rgba(147, 107, 232, 0.05);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  height: 55px;
}

.contacts .contacts-content .container .contact-view .detail .detail-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px auto;
      grid-template-columns: 20px auto;
  grid-column-gap: 20px;
}

.contacts .contacts-content .container .contact-view .detail .detail-content .detail-content-left {
  font-size: 22px;
  display: block;
  margin-top: 3px;
}

.contacts .contacts-content .container .contact-view .detail .detail-content .detail-content-right h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 10px;
}

.contacts .contacts-content .container .contact-view .detail .detail-content .detail-content-right p {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-top: 3px;
}

.contacts .contacts-content .container .contact-view .detail .detail-content .detail-content-right p a {
  text-decoration: none;
  color: #777777;
}

.contacts .contacts-content .map-iframe iframe {
  display: block;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
/*# sourceMappingURL=contact.css.map */