@import "./variable";
.footer_poolcare{
    .footer{
        background: #111;
        color: #696969;
        .row{
            .footer-title{
                color: #fff;
                font-size: 20px;
                line-height: 26px;
                font-weight: 600;
                margin-bottom: 25px;
            }
            .footer-list{
                font-size: 16px;
                line-height: 28px;
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        margin-bottom: 5px;
                        a{
                            text-decoration: none;
                            color: #696969;
                            transition:  all 0.5s;
                            &:hover{
                                color: #fff;
                                text-decoration: underline;
                            }

                        }
                        
                    }
                }
            }
            .social-icons{
                padding: 0;
                li{
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 0;
                }
            }
        }
        .midd-footer{
            background: #111;
            border-top: 1px solid rgba(103, 99, 99, 0.14);
            a{
                color: $secondary-color;
            }
        }
    }
}