@import "./_variable.scss";

.site-header{
    
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 90px;
    align-items: center;
    
    .navbar{
        box-shadow: 0px 3px 6px 0 $border-light;
        padding: 15px 0;
        background-color: $bg-color;
        font-weight: 600;
        .container{
            position: relative;
            padding: 0 50px;
            transition: all 1s;
            
                .navbar-brand{
                    font-size: 34px;
                    color: $primary-color;
                    margin-right: 20px;
                }
                .navbar-toggler{
                    width: 0%;
                    border: none;
                    &:focus{
                        box-shadow: none;
                    }
                    span{
                        background-image: none;
                        line-height: 34px;
                        background-color: $primary-color;
                        border-radius: 5px;
                        color: #fff;
                        
                    }
                }
                .collapse{
                    
                    .nav-item{
                        transition: all 0.5s ease;
                        font-size: 1.2em;
                        font-weight: 400;
                        padding: 0 12px;
                        
                        .active{
                            color:$primary-color; 
                        }
                    
                        .nav-link{
                            padding: 0;
                            /* color:$heading-color; */
                            position: relative;
                            &:hover{
                                color: $primary-color;
                            }
                            &::after{
                                content: "";
                                position: absolute;
                                bottom: -1.5px;
                                left: 0;
                                width: 0%;
                                height: 1px;
                                transition: all 0.5s;
                                background-color: $primary-color;
                            }
                            &:hover::after{
                                width:100%;
                            }
                            
                        }
                    }
                }
                .mobile-position{
                    margin-right: 60px;
                    position: absolute;
                    right: -28px;
                    top: 21px;
                    i{
                        border-color: rgba(0,0,0,.1);;
                        
                        //color: transparent;
                        font-size: 1.4em;
                        //margin-left: 20px;

                    }
                }
            }
        }
        @media screen and (max-width:992px) {
        .navbar{
            .container{
                .mobile-position{
                    
                    right: 25px;
                    
                }
                .collapse{
                        .nav-item{
                            a{
                                &:hover::after{
                                    width: 0%;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width:576px) {
        .navbar{
            .container{
                padding: 0 25px;
                .mobile-position{
                    top:17px;
                    right: 0px;
                    
                }
                .navbar-brand{
                    font-size: 30px;
                    color: $primary-color;
                    
                }
                }
            }
        }
}
.header-bar{
    width: 90px;
    position: fixed;
    height: 100%;
    z-index: 1000;
    right: 0px;
    top: 50px;
    margin-top: 60px;
    .header-top-right{
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        padding: 40px 5px;
        padding-top: 70px;
        margin-bottom: 70px;
        background: #0D1326;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        a{
            &:hover{
                opacity: 1;
            }
            display: block;
            color: #e6ebff;
            text-decoration: none;
            line-height: 24px;
            opacity: .6;
            margin-bottom: 25px;
            text-align: center;
            i{
                display: block;
            }
        }
    }
}
.header-icon{
    float: right;
    position: fixed;
    right: 0px;
    top: 168px;
    width: 90px;
    z-index: 099999;
    text-align: center;
    i{
        
        background: #0D1326;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #e6ebff;
        border-radius: 50px;
        font-size: 15px;
        cursor: pointer;
        opacity: .5;
    }
}